body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #e8e8d8;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    display: flex;;
    height: 150px;
}

.header-left {
    width: 120px;
    min-width: 100px;
    background-color: #f5f5e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-icon img {
    max-width:100px;
    height: auto;
    display: block;
}

.header-right {
    flex: 1;
    background-image: url(img/strandd.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    shape-rendering: auto;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7cc7a0;
    border-radius: 30px;
    padding: 15px 25px;
    margin: 20px 30px;
}


nav a.active {
    background: rgba(255, 255, 255, 0.3);
}
.hamburger {
    display: none;          
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
}


nav {
    display: flex;
    gap: 30px;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #eee;
}
main.arts {
    display: flex;
    padding: 0 35px;
    gap: 50px;
    margin-top: 65px;
    margin-bottom: 80px;
}
article.art {
    flex: 1;
    background-color: #9db87a;
    padding: 20px;
    border-radius: 25px;
    min-width: 300px;
    color: white;
}
article.art h2 {
    font-size: 22px;
    margin-bottom: 30px;
}
article.art p, article.art li {
    font-size: 15px;
    line-height: 1.6;
}
article.art ul {
    list-style-type: disc;
    padding-left: 20px;
}
.karta-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
}
footer {
     background: #7cc7a0;      /* Mintgrön */
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 30px;    
    margin: 0 30px 30px;
    margin-top: 40px;
    font-size: 15px;
}

.btn {
    border-radius: 15px;
    background-color: #7cc7a0;
    color: white;
    padding: 10px 20px;
    border: white solid 1px ;
    cursor: pointer;
}
.btn:hover {
    background-color: #eee;
    color: #333;
}
.sevard-vattenfall{
    height: 200px;
    width: 100%;
    border-radius: 15px;
}
.hitta-kartta {
    height: 200px;
    width: 100%;
    border-radius: 15px;
}
.aktiv-sida {
    display: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 600px) {
    .aktiv-sida {
        display: block;
    }

    .header {
        flex-direction: column;
        height: auto;
    }
    .header-left, .header-right {
        width: 100%;
        min-width: 180px;
    }
    .nav-wrapper {
    background: #7cc7a0;
    margin: 20px 30px;
    padding: 10px 15px;
}
    nav {
        display: none;
        position: absolute;
        top: 200px;
        left: 30px;
        right: 30px;
        background: #7cc7a0;
        border-radius: 15px;
        padding: 15px;
        flex-direction: column;
        z-index: 100;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
    nav.show {
        display: flex;
    }
     .hamburger {
        display: flex;
    }
    main.arts {
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
    }
}